<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damilola Omojokun | DevOps Engineer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>Damilola Omojokun</h1>
    <p>Aspiring DevOps Engineer</p>
</header>

<section>
    <h2>About Me</h2>

    <p>
        I am a DevOps engineer passionate about cloud computing,
        automation, Infrastructure as Code, and CI/CD pipelines.
    </p>
</section>

<section>

<h2>Skills</h2>

<ul>

<li>AWS</li>

<li>Docker</li>

<li>Kubernetes</li>

<li>Terraform</li>

<li>Ansible</li>

<li>Jenkins</li>

<li>GitHub Actions</li>

<li>Linux</li>

</ul>

</section>

<section>

<h2>Projects</h2>

<div class="project">

<h3>Modern DevOps Deployment</h3>

<p>
Built automated infrastructure provisioning and CI/CD pipelines
using Terraform, Docker, Jenkins and Ansible.
</p>

</div>

</section>

<section>

<h2>Contact</h2>

<p>Email: damiomojokun@gmail.com</p>

<p>GitHub: github.com/Triplegaze</p>

<p>LinkedIn: linkedin.com/in/damilola-omojokun-webdeveloper</p>

</section>

<footer>

<p>© 2026 Damilola Omojokun</p>

</footer>

</body>
</html>
